*.phpintel
skin.old
.sync
.idea/*
atlassian-ide-plugin.xml
/.sass-cache
/.idea
.DS_Store
*.lock
*.sass-cache*
*swp
ping
/app/etc/local.xml
/errors/local.xml

node_modules/*
vendor/*
var/*
media/*
.sass-cache/*
nbproject
/nbproject
config.rb

staging/*
skin/frontend/steelcase/enterprise/scss/.sass-cache
skin/frontend/steelcase/enterprise/scss/.sass-cache/*
skin/frontend/steelcase/enterprise/scss/site-specific/_*.scss
skin/frontend/steelcase/enterprise/css/site-specific/*/*.css
skin/frontend/steelcase/enterprise/css/madisonisland.css
skin/frontend/steelcase/enterprise/css/madisonisland-ie8.css
skin/frontend/steelcase/enterprise/css/scaffold-forms.css
skin/frontend/steelcase/enterprise/css/styles.css
skin/frontend/steelcase/enterprise/css/styles-ie8.css
skin/frontend/steelcase/enterprise/css/php-variable.css

skin/frontend/steelcase/enterprise/css/madisonisland-ie8.css.map
skin/frontend/steelcase/enterprise/css/madisonisland.css.map
skin/frontend/steelcase/enterprise/css/scaffold-forms.css.map
skin/frontend/steelcase/enterprise/css/styles-ie8.css.map
skin/frontend/steelcase/enterprise/css/styles.css.map


skin/frontend/steelcase/b2b/css/

skin/frontend/steelcase/enterprise/css/styles-ie8-blessed1.css
skin/frontend/steelcase/enterprise/css/styles-ie9.css
skin/frontend/steelcase/enterprise/css/styles-ie9-blessed1.css
skin/frontend/steelcase/enterprise/css/madisonisland-ie9-blessed1.css
skin/frontend/steelcase/enterprise/css/madisonisland-ie9.css
skin/frontend/steelcase/enterprise/css/styles-blessed1.css

shell/csv/source/*
shell/xml/source/*
*.sql.gz
/magento-check.php
test.php
/test.php
*.cnf
*.zip
*.sql
/.stignore
/.stfolder
/disableIonModules
/report
