<?xml version="1.0"?>
<config>
    <modules>
        <FT_Sofiaslider>
            <version>0.1.0</version>
        </FT_Sofiaslider>
    </modules>
    <admin>
        <routers>
			<sofiaslider>
				<use>admin</use>
				<args>
					<module>FT_Sofiaslider</module>
					<frontName>sofiaslider</frontName>
				</args>
			</sofiaslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<frexy translate="title" module="sofiaslider">
				<title>Frexy Themes</title>
				<sort_order>9999</sort_order>
				<children>
                    <sofia translate="title" module="sofiaslider">
                        <title>Sofia</title>
                        <sort_order>10</sort_order>
                        <children>
                            <sofiaslider translate="title" module="sofiaslider">
                                <title>Sofia Slideshow</title>
                                <sort_order>120</sort_order>
                                <children>
                                    <items translate="title" module="sofiaslider">
                                        <title>Manage Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>sofiaslider/adminhtml_sofiaslider</action>
                                    </items>
                                    <configuration>
                                        <title>Configuration</title>
                                        <sort_order>1</sort_order>
                                        <action>adminhtml/system_config/edit/section/sofiaslider</action>
                                    </configuration>
                                </children>
                            </sofiaslider>
                        </children>
                    </sofia>
				</children>
			</frexy>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sofiaslider>
                                            <title>Sofia Slideshow</title>
                                        </sofiaslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <frexy>
                            <title>Frexy</title>
                            <children>
                                <sofia>
                                    <title>Sofia</title>
                                    <children>
                                        <sofiaslider>
                                            <title>Slideshow</title>
                                            <children>
                                                <items>
                                                    <title>Manage Slides</title>
                                                </items>
                                                <configuration>
                                                    <title>Configuration</title>
                                                </configuration>
                                            </children>
                                        </sofiaslider>
                                    </children>
                                </sofia>
                            </children>
                        </frexy>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <sofiaslider>
                <class>FT_Sofiaslider_Model</class>
                <resourceModel>sofiaslider_mysql4</resourceModel>
            </sofiaslider>
            <sofiaslider_mysql4>
                <class>FT_Sofiaslider_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>sofia_slides</table>
                    </slides>
	                <slides_store>
                        <table>sofia_slides_store</table>
                    </slides_store>
                </entities>
            </sofiaslider_mysql4>
        </models>
        <resources>
            <sofiaslider_setup>
                <setup>
                    <module>FT_Sofiaslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sofiaslider_setup>
            <sofiaslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sofiaslider_write>
            <sofiaslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sofiaslider_read>
        </resources>
        <blocks>
            <sofiaslider>
                <class>FT_Sofiaslider_Block</class>
            </sofiaslider>
        </blocks>
        <helpers>
            <sofiaslider>
                <class>FT_Sofiaslider_Helper</class>
            </sofiaslider>
        </helpers>
    </global>
	<default>
		<sofiaslider>
			<config>
                <enabled>1</enabled>
                <show>home</show>
                <height></height>
                <animation>slide</animation>
                <slideshow>true</slideshow>
                <animation_loop>true</animation_loop>
                <mousewheel>false</mousewheel>
                <smoothheight>false</smoothheight>
                <slideshow_speed>7000</slideshow_speed>
                <animation_speed>400</animation_speed>
                <control_nav>false</control_nav>
                <direction_nav>true</direction_nav>
			</config>
		</sofiaslider>
	</default>
</config>