#row_sofiadesign_color_setting_option1_divider {}
#row_sofiadesign_color_setting_option1_divider td,
#row_sofiadesign_color_setting_option1_divider td.value,
#row_sofiadesign_color_setting_option1_divider td.scope-label,
#row_sofiadesign_color_setting_option1_divider td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_sofiadesign_color_setting_option1_divider td.scope-label {font-size:.9em ;}

#row_sofiadesign_color_setting_option2_divider {}
#row_sofiadesign_color_setting_option2_divider td,
#row_sofiadesign_color_setting_option2_divider td.value,
#row_sofiadesign_color_setting_option2_divider td.scope-label,
#row_sofiadesign_color_setting_option2_divider td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_sofiadesign_color_setting_option2_divider td.scope-label {font-size:.9em ;}

#row_sofiadesign_color_setting_option3_divider {}
#row_sofiadesign_color_setting_option3_divider td,
#row_sofiadesign_color_setting_option3_divider td.value,
#row_sofiadesign_color_setting_option3_divider td.scope-label,
#row_sofiadesign_color_setting_option3_divider td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_sofiadesign_color_setting_option3_divider td.scope-label {font-size:.9em ;}

#row_sofiadesign_navigation_option5_divider {}
#row_sofiadesign_navigation_option5_divider td,
#row_sofiadesign_navigation_option5_divider td.value,
#row_sofiadesign_navigation_option5_divider td.scope-label,
#row_sofiadesign_navigation_option5_divider td.label { font-size:16px; border-bottom:1px solid #666 !important; padding-top:15px !important;}
#row_sofiadesign_navigation_option5_divider td.scope-label {font-size:.9em ;}

